<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Job Search App</title>
  </head>
  <body>
    <header>
      <div class="navbar">
        <div class="titulo">EMPREGOS APP</div>
        <div class="nav">
          <ul class="navul">
            <li><a id="inicio">INICIO</a></li>
            <li><a id="sobre">SOBRE</a></li>
            <li><a id="contato">CONTATO</a></li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </header>
    <div class="containerjobs03">
      <div class="jobbox02">
        <div class="jobtitulo02">Sobre nós</div>
        <div class="jobdescricao02">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores
          culpa iure magni, perspiciatis voluptatum sed minus in, recusandae cum
          aspernatur expedita modi! Sunt maiores magnam sequi aliquam, animi
          blanditiis commodi. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Vitae modi totam distinctio voluptates reprehenderit, fugiat
          suscipit soluta perferendis corporis neque vero aliquid laborum ad
          molestias ipsum ullam eaque error velit. Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Maiores culpa iure magni, perspiciatis
          voluptatum sed minus in, recusandae cum aspernatur expedita modi! Sunt
          maiores magnam sequi aliquam, animi blanditiis commodi. Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Vitae modi totam
          distinctio voluptates reprehenderit, fugiat suscipit soluta
          perferendis corporis neque vero aliquid laborum ad molestias ipsum
          ullam eaque error velit. Lorem, ipsum dolor sit amet consectetur
          adipisicing elit. Maiores culpa iure magni, perspiciatis voluptatum
          sed minus in, recusandae cum aspernatur expedita modi! Sunt maiores
          magnam sequi aliquam, animi blanditiis commodi. Lorem ipsum dolor sit
          amet consectetur adipisicing elit. Vitae modi totam distinctio
          voluptates reprehenderit, fugiat suscipit soluta perferendis corporis
          neque vero aliquid laborum ad molestias ipsum ullam eaque error velit.
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores
          culpa iure magni, perspiciatis voluptatum sed minus in, recusandae cum
          aspernatur expedita modi! Sunt maiores magnam sequi aliquam, animi
          blanditiis commodi. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Vitae modi totam distinctio voluptates reprehenderit, fugiat
          suscipit soluta perferendis corporis neque vero aliquid laborum ad
          molestias ipsum ullam eaque error velit.
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("inicio")
        .addEventListener("click", function Inicio() {
          window.open("http://localhost:3000/");
        });

      document
        .getElementById("sobre")
        .addEventListener("click", function Sobre() {
          window.open("http://localhost:3000/sobre");
        });

      document
        .getElementById("contato")
        .addEventListener("click", function Contato() {
          window.open("http://localhost:3000/contato");
        });
    </script>
  </body>
</html>
